<template>
    <div>
        <section class="phphosting">
            <header class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>PHP Hosting</h1>
                            <h3 style="margin-bottom: 18px">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h3>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Solusi PHP untuk performa query yang lebih cepat
                            </h6>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Konsumsi memori yang lebih rendah
                            </h6>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7
                            </h6>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Fitur enrkripsi IonCube dan Zend Guard Loaders
                            </h6>
                        </div>
                        <div class="col"></div>
                        <div class="col-sm-5">
                            <img src="svg/illustration banner PHP hosting-01.svg" alt="">
                        </div>
                    </div>
                </div>
            </header>
        </section>
        <hr>
        <section class="imgs">
            <header class="jumbotron jumbotron-fluid" style="padding-top: 0">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <embed style="padding-top: 135px;" src="svg/hosting_zendguard.svg" type="">
                            <p>PHP Zend Guard Loader</p>
                        </div>
                        <div class="col-sm-4" style="margin-bottom: -59.5px; margin-top: 20px;">
                            <embed src="svg/hosting_composer.svg" type="">
                            <p>PHP Zend Guard Loader</p>
                        </div>
                        <div class="col-sm-4">
                            <embed style="padding-top: 135px;" src="svg/hosting_ioncube.svg" type="">
                            <p>PHP Zend Guard Loader</p>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        <section class="pakethosting">
            <div class="container text-center">
                <h2>{{ paketHosting.title.firstLine }}</h2>
                <h4>{{ paketHosting.title.secondLine }}</h4>
                <div class="card-group">
                    <div v-for="pakets in paketHosting.paket" :key="pakets.title" class="card">
                        <div class="card-header bg-transparent"><h5>{{ pakets.title }}</h5></div>
                        <div class="card-body" style="flex: 0 0 25%">
                            <p class="card-text" style="text-decoration: line-through;">{{ pakets.price }}</p>
                            <h4 class="card-text">{{ pakets.priceDisc }}</h4>
                            <hr>
                            <p class="card-text">{{ pakets.user }} Pengguna Terdaftar</p>
                            <hr>
                        </div>
                        <ul v-for="features in pakets.feature" :key="features.data">
                            <li class="text-center">{{ features.data }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <h2 class="text-center mt-5 mb-3">Powerful dengan limit PHP yang lebih besar</h2>

                <div class="row text-center" style="text-align: center">
                    <div class="col-md-2 mb-2"></div>
                    <div class="col-md-4 mb-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                max execution time 300s
                                <span>&nbsp;</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                max execution time 300s
                                <span>&nbsp;</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                php memory limit 1024 MB
                                <span>&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                post max size 128 MB
                                <span>&nbsp;</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                upload max filesize 128 MB
                                <span>&nbsp;</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>
                                max input vars 2500
                                <span>&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="imgs2">
            <hr style="width:10%; border-width: 8px;">
            <header class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 class="text-center">Semua Paket Hosting Sudah Termasuk</h2>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <embed src="svg/hosting_PHP.svg" width="128" type="">
                            <h3>PHP Semua Versi</h3>
                            <p>pilih mulai dari versi PHP 5.3 s/d PHP 7.</p>
                            <p>Ubah Sesuka Anda!</p>
                        </div>
                        <div class="col-sm-4">
                            <embed src="svg/hosting_MySQL.svg" width="128" type="">
                            <h3>MySQL Versi 5.6</h3>
                            <p>Nikmati MySQL versi terbaru, tercepat dan</p>
                            <p>kaya akan fitur.</p>
                        </div>
                        <div class="col-sm-4">
                            <embed src="svg/hosting_CPanel.svg" width="128" type="">
                            <h3>Panel Hostin cPanel</h3>
                            <p>Kelola website dengan panel canggih yang</p>
                            <p>familiar di hati Anda.</p>
                        </div>
                        <div class="col-sm-4">
                            <embed src="svg/hosting_garansi_uptime.svg" width="128" type="">
                            <h3>Garansi Uptime 99.9%</h3>
                            <p>Data center yang mendukung kelangsungan</p>
                            <p>website anda 24/7.</p>
                        </div>
                        <div class="col-sm-4">
                            <embed src="svg/hosting_InnoDB.svg" width="128" type="">
                            <h3>Database InnoDB Unlimited</h3>
                            <p>Jumlah dan ukuran database yang tumbuh</p>
                            <p>sesuai kebutuhan Anda.</p>
                        </div>
                        <div class="col-sm-4">
                            <embed src="svg/hosting_MySQLremote.svg" width="128" type="">
                            <h3>Wildcard Remote MySQL</h3>
                            <p>Mendukung s/d 25 max_user_connections</p>
                            <p>dan 100 max_connections.</p>
                        </div>
                    </div>
                </div>
            </header>
            <hr style="width:10%; border-width: 8px;">
        </section>
        <section class="fullsupport">
            <header class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 class="text-center">Mendukung Penuh Framework Laravel</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            <h6 style="font-size: 20px">Tak Perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah
                                kami mendukung penuh framework favorit Anda</h6>
                            <br>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Install Laravel <strong>1 klik</strong> dengan Softaculous .
                            </h6>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Mendukung Ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong> dan <strong>fileinfo.</strong>
                            </h6>
                            <h6><span style="color: green;"><svg class="bi bi-check-circle" width="1em" height="1em"
                                                                 viewBox="0 0 16 16" fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd"
        d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
        clip-rule="evenodd"/>
</svg></span>&nbsp; Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstal packages pilihan Anda.
                            </h6>
                            <p style="font-size: 12px">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</p>
                            <button type="button" class="btn btn-primary btn-lg"><h4 style="margin-bottom: 0; font-family: 'montserrat', 'roboto'; font-size: 18px;">Pilih
                                Hosting Anda</h4></button>
                        </div>
                        <div class="col-sm-6">
                            <img src="svg/illustration banner support laravel hosting.svg" alt="">
                        </div>
                    </div>
                </div>
            </header>
        </section>
        <secton class="modul">
            <header class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <h2>Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h2>
                    <table class="table table-responsive-sm table-borderless">
                        <tbody>
                        <tr>
                            <td>IcePHP</td>
                            <td>http</td>
                            <td>nd_pdo_mysql</td>
                            <td>stats</td>
                        </tr>
                        <tr>
                            <td>apc</td>
                            <td>huffman</td>
                            <td>oauth</td>
                            <td>stem</td>
                        </tr>
                        <tr>
                            <td>apcu</td>
                            <td>idn</td>
                            <td>oci8</td>
                            <td>stomp</td>
                        </tr>
                        <tr>
                            <td>apm</td>
                            <td>igbinary</td>
                            <td>odbc</td>
                            <td>suhosin</td>
                        </tr>
                        <tr>
                            <td>ares</td>
                            <td>imagick</td>
                            <td>opcache</td>
                            <td>sybase_ct</td>
                        </tr>
                        <tr>
                            <td>bcmath</td>
                            <td>imap</td>
                            <td>pdf</td>
                            <td>sysvmsg</td>
                        </tr>
                        <tr>
                            <td>bcompiler</td>
                            <td>inclued</td>
                            <td>pdo</td>
                            <td>sysvsem</td>
                        </tr>
                        <tr>
                            <td>big_int</td>
                            <td>inotify</td>
                            <td>pdo_dblib</td>
                            <td>sysvshm</td>
                        </tr>
                        <tr>
                            <td>bitset</td>
                            <td>interbase</td>
                            <td>pdo_firebird</td>
                            <td>tidy</td>
                        </tr>
                        <tr>
                            <td>bloomy</td>
                            <td>intl</td>
                            <td>pdo_mysql</td>
                            <td>timezonedb</td>
                        </tr>
                        <tr>
                            <td>bz2_filter</td>
                            <td>ioncube_loader</td>
                            <td>pdo_odbc</td>
                            <td>trader</td>
                        </tr>
                        <tr>
                            <td>clamav</td>
                            <td>ioncube_loader_4</td>
                            <td>pdo_pgsql</td>
                            <td>translit</td>
                        </tr>
                        <tr>
                            <td>coin_acceptor</td>
                            <td>jsmin</td>
                            <td>pdo_sqlite</td>
                            <td>uploadprogress</td>
                        </tr>
                        <tr>
                            <td>crack</td>
                            <td>json</td>
                            <td>pgsql</td>
                            <td>uri_template</td>
                        </tr>
                        <tr>
                            <td>dba</td>
                            <td>ldap</td>
                            <td>phalcon</td>
                            <td>uuid</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light btn-lg"><h5 style="margin-bottom: 0">Selengkapnya</h5>
                    </button>
                </div>
            </header>
        </secton>
        <section class="linuxhosting">
            <header class="jumbotron jumbotron-fluid" style="margin-bottom: 0; padding-bottom: 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            <h4>Linux Hosting yang Stabil dengan Teknologi LVE</h4>
                            <br>
                            <h6 style="font-size: 16px;">SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan RAM 128 GB dan teknologi
                                <strong>LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi dengan <strong>SSD</strong>
                                untuk kecepatan <strong>MySQL</strong> dan caching, Apache load balancer berbasis
                                LiteSpeed Technologies, <strong>CageFS</strong> security, <strong>Raid-10</strong>
                                protection dan auto backup untuk keamanan website PHP Anda. </h6>
                            <button type="button" class="btn btn-primary btn-lg"><h6 style="margin-bottom: 0">Pilih
                                Hosting Anda</h6></button>
                        </div>
                        <div class="col-sm-6">
                            <img src="images/image_support.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Bagikan jika Anda menyukai halaman ini.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="svg/fb.svg" width="28" alt="">
                                <span><a href="#" class="btn btn-secondary btn-sm disabled" tabindex="-1" role="button"
                                         aria-disabled="true">80k</a></span>
                                <span><img src="svg/twit.svg" width="28" alt=""></span>
                                <span><a href="#" class="btn btn-secondary btn-sm disabled" tabindex="-1" role="button"
                                         aria-disabled="true">450</a></span>
                                <span><img src="svg/gplus.svg" width="28" alt=""></span>
                                <span><a href="#" class="btn btn-secondary btn-sm disabled" tabindex="-1" role="button"
                                         aria-disabled="true">1900</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert">
                    <div class="container text-center">
                        <span><h4 style="color: white">Perlu <strong>BANTUAN?</strong> Hubungi Kami: <strong>0274-5305505</strong>&nbsp;<span
                            class="vl"></span>&nbsp;<button type="button" class="btn btn-primary btn-lg"
                                                            style="background: transparent;"><h6
                            style="margin-bottom: 0">Live Chat</h6></button>
</h4></span>
                    </div>
                </div>
            </header>
        </section>
    </div>
</template>
<script>
    export default {
        name: 'Home',
        data() {
            return {
                paketHosting: {
                    title: {
                        firstLine: 'Paket Hosting Singapura yang Tepat',
                        secondLine: 'Diskon 40% + Domain dan SSL Gratis untuk Anda'
                    },
                    paket: [
                        {
                            title: 'Bayi',
                            price: 'Rp. 19.900',
                            priceDisc: 'Rp. 14.900/bln',
                            user: '938',
                            feature: [
                                {
                                    data: '0.5X RESOURCE POWER'
                                },
                                {
                                    data: '500 MB Disk Space'
                                },
                                {
                                    data: 'Unlimited Bandwith'
                                },
                                {
                                    data: 'Unlimited Database'
                                },
                                {
                                    data: '1 Domain'
                                },
                                {
                                    data: 'Instant Backup'
                                },
                                {
                                    data: 'Unlimited SSL Gratis Selamanya'
                                },
                            ]
                        },
                        {
                            title: 'Pelajar',
                            price: 'Rp. 46.900',
                            priceDisc: 'Rp. 23.450/bln',
                            user: '4168',
                            feature: [
                                {
                                    data: '1X RESOURCE POWER'
                                },
                                {
                                    data: 'Unlimited Disk Space'
                                },
                                {
                                    data: 'Unlimited Bandwith'
                                },
                                {
                                    data: 'Unlimited POP3 Email'
                                },
                                {
                                    data: 'Unlimited Database'
                                },
                                {
                                    data: '10 Addon Domain'
                                },
                                {
                                    data: 'Instant Backup'
                                },
                                {
                                    data: 'Domain Gratis Selamanya'
                                },
                                {
                                    data: 'Unlimited SSL Gratis Selamanya'
                                },
                            ]
                        },
                        {
                            title: 'Personal',
                            price: 'Rp. 58.900',
                            priceDisc: 'Rp. 38.900/bln',
                            user: '10017',
                            feature: [
                                {
                                    data: '2X RESOURCE POWER'
                                },
                                {
                                    data: 'Unlimited Disk Space'
                                },
                                {
                                    data: 'Unlimited Bandwith'
                                },
                                {
                                    data: 'Unlimited POP3 Email'
                                },
                                {
                                    data: 'Unlimited Database'
                                },
                                {
                                    data: 'Unlimited Addon Domain'
                                },
                                {
                                    data: 'Instant Backup'
                                },
                                {
                                    data: 'Domain Gratis Selamanya'
                                },
                                {
                                    data: 'Unlimited SSL Gratis Selamanya'
                                },
                                {
                                    data: 'Private Name Server'
                                },
                                {
                                    data: 'SpamAssasin Mail Protection'
                                },
                            ]
                        },
                        {
                            title: 'Bisnis',
                            price: 'Rp. 109.900',
                            priceDisc: 'Rp. 65.900/bln',
                            user: '3552',
                            feature: [
                                {
                                    data: '3X RESOURCE POWER'
                                },
                                {
                                    data: 'Unlimited Disk Space'
                                },
                                {
                                    data: 'Unlimited Bandwith'
                                },
                                {
                                    data: 'Unlimited POP3 Email'
                                },
                                {
                                    data: 'Unlimited Database'
                                },
                                {
                                    data: 'Unlimited Addon Domain'
                                },
                                {
                                    data: 'Magic Auto Backup & Restore'
                                },
                                {
                                    data: 'Domain Gratis Selamanya'
                                },
                                {
                                    data: 'Unlimited SSL Gratis Selamanya'
                                },
                                {
                                    data: 'Private Name Server'
                                },
                                {
                                    data: 'SpamExpert Pro Mail Protection'
                                },
                            ]
                        }
                    ]
                }
            }
        }
    }
</script>
<style scoped>
    h1{
        font-size: 40px;
        font-weight: bold;
    }
    h2{
        font-size: 33px;
        font-weight: bold;
    }
    h7{
        font-size: 18px;
    }
    h5{
        font-size: 25px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
    }
    .jumbotron {
        background-color: white;
    }

    .btn-primary {
        font-family: Raleway-SemiBold;
        font-size: 13px;
        /*color: rgba(58, 133, 191, 0.75);*/
        letter-spacing: 1px;
        line-height: 15px;
        border: 2px solid rgba(58, 133, 191, 0.75);
        border-radius: 40px;
        /*background: transparent;*/
        transition: all 0.3s ease 0s;
    }

    .btn-light {
        font-family: Raleway-SemiBold;
        font-size: 13px;
        /*color: rgba(58, 133, 191, 0.75);*/
        letter-spacing: 1px;
        line-height: 15px;
        border: 2px solid rgba(1, 1, 1, 250);
        border-radius: 40px;
        /*background: transparent;*/
        transition: all 0.3s ease 0s;
    }

    .btn-secondary {
        font-family: Raleway-SemiBold;
        font-size: 13px;
        color: rgba(58, 40, 150, 0.55);
        letter-spacing: 1px;
        line-height: 15px;
        border: 1px solid rgba(1, 1, 1, 250);
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
    }

    .alert {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .vl {
        border-left: 2px solid;
        height: 20px;
    }

    ul {
        list-style-type: none;
        margin-right: 0;
        padding: 0;
    }
</style>
