<template>
    <div>
        <!-- navbar -->
        <nav id="topnavrow" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <!-- Use container here -->
            <div class="container">
                <div class="mr-auto">
                    <span style="color: blue;"><svg class="bi bi-tag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 00-1 1v4.586a1 1 0 00.293.707l7 7a1 1 0 001.414 0l4.586-4.586a1 1 0 000-1.414l-7-7A1 1 0 006.586 1H2zm4 3.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
                    </svg></span>
                    <span>&nbsp; Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]</span>
                </div>
                <div class="my-2 my-lg-0">
                        <span><svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
</svg></span>
                        <span>0274-5305505</span>&nbsp; &nbsp;
                        <span><svg class="bi bi-chat-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 008 15z"/>
</svg></span>
                        <span>Live Chat</span>
                    &nbsp;&nbsp;
                        <span><svg class="bi bi-people-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
</svg></span>
                        <span>Member Area</span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 sticky-top">
            <!-- and use container here as well -->
            <div class="container">
                <div id="navcollapse" class="collapse navbar-collapse my-2">
                    <ul class="navbar-nav mr-auto">
                        <img src="svg/logo.svg" alt="">
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Hosting
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Domain
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Server
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Website
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Afiliasi
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Promo
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Pembayaran
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Review
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Kontak
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name:'home' }">
                                Blog
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- content -->
            <router-view></router-view>
        <!-- Footer -->
        <footer class="page-footer font-small bg-dark pt-4">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Hubungi Kami</h5>
                        <ul class="list-unstyled">
                            <li>
                                0274-5305505
                            </li>
                            <li>
                                Senin - Minggu
                            </li>
                            <li>
                                24 Jam Nonstop
                            </li>
                            <br>
                            <li>
                                Jl. Selokan Mataram Monjali Karangjati MT I/304 Sinduadi, Mltai, Sleman Yogyakarta 55284
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Layanan</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" style="color: white">Domain</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Shared Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Cloud Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Cloud VPS Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Transfer Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Web Builder</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Keamanan SSL/HTTPS</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Jasa Pembuatan Website</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Program Afiliasi</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Whois</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Niagahoster Status</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Service Hosting</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" style="color: white">Hosting Murah</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Hosting Indonesia</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Hosting Siangapore SG</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Hosting Wordpress</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Email Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Reseller Hosting</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Web Hosting Unlimited</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Kenapa Pilih NiagaHoster?</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" style="color: white">Hosting Terbaik</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Datacenter Hosting Terbaik</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Domain Gratis</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Bagi-bagi Domain Gratis</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Bagi-bagi Hosting Gratis</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Review Pelanggan</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Tutorial</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" style="color: white">Ebook Gratis</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Knowledgebase</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Blog</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Cara Pembayaran</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Niaga Course</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Tentang Kami</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" style="color: white">Tentang</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Penawaran & Promo Spesial</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Niaga Poin</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Karir</a>
                            </li>
                            <li>
                                <a href="#!" style="color: white">Kontak Kami</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <h5 class="text-uppercase">Newsletter</h5>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <br>
                            <button style="text-align: right;" type="submit" class="btn btn-warning text-right">Berlangganan</button>
                        </div>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3" style="color: white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2.5 11.5v1.2h1.985c-.08.514-.601 1.51-1.985 1.51-1.194 0-2.17-.99-2.17-2.21s.976-2.21 2.17-2.21c.681 0 1.135.29 1.396.541l.949-.916c-.61-.57-1.401-.915-2.345-.915-1.936 0-3.5 1.565-3.5 3.5s1.564 3.5 3.5 3.5c2.02 0 3.359-1.419 3.359-3.419 0-.23-.024-.405-.055-.58h-3.304zm0 0 8.5 1h-1.5v1.5h-1v-1.5h-1.5v-1h1.5v-1.5h1v1.5h1.5v1z"/></svg>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright py-3" style="color: white;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <small>Copyright ©2019 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC DCI-Indonesia. Cloud
                                <br> VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</small>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="#!" style="color: white; font-size: 12px !important;">Syarat dan Ketentuan</a>&nbsp;<span class="vl"></span>&nbsp;<a href="#!" style="color: white; font-size: 12px !important;">Kebijakan Privasi</a>

                        </div>
                    </div>
            </div>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
</template>
<script>
</script>
<style scoped>
    .navbar{
        padding: 1rem;
    }
    a {
        font-size: 15px !important;
    }
    .vl {
        border-left: 0.5px solid;
        height: 20px;
    }
</style>
